# Runtime data created by gitlite itself
.mygit/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.coverage
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
